.favorite {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.favorite span {
  margin-left: 4px;
  margin-top: 3px;
  z-index: 999;
  position: absolute;
}

span:hover {
  opacity: 0.8;
}

span:active {
  transform: scale(0.93, 0.93) translateY(2px);
}

.active span {
  color: #f52755 !important;
}

* {
  transition: all 0.32s ease;
}
