.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}
